@import "normalize.scss";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ol,
ul,
li{
    list-style: none;
}

html.admin,
html.admin body,
html.admin #vue-design-app{
    height: 100%;
    overflow: hidden;
}

#vue-design-app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

.el-menu-item{
     height: 48px !important;
     line-height: 48px !important;
}

.table-empty{
    padding-top: 60%;
}

@import "components/image";
