@import "normalize.scss";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ol,
ul,
li{
    list-style: none;
}

html,
body,
#vue-design-app{
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#vue-design-app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    .el-dialog__body {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    :focus {
        outline: none !important;
    }  
}

.el-menu-item{
     height: 40px !important;
     line-height: 40px !important;
}

.table-empty{
    padding-top: 60%;
}

@import "components/image";
