* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li{
    list-style: none;
}

html.admin,
html.admin body,
html.admin #vue-design-app{
    height: 100%;
    overflow: hidden;
}

.pagination{
    text-align: right;
    padding-top: 20px;
    margin: 0 -10px;
    padding-left: 10px;
}
